* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #FDEDEF;
  }

  .headerdiv {
    display: flex;
    background-color: lightblue;
    padding: 10px;
  }

  .logosvg {
    background-color: orange;
    padding-right: 10px;
  }
  
