* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #FDEDEF;
  }


  .logoandtitle {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: auto;
  }

  .cursive {
    font-family: "Water Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
  }

  .navlist {
    display: flex;
    list-style: none;
    gap: 2rem;
    background-color: orange;
  }

  
